<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="loginForm">
    <div class="form-group">
        <div class="form-row">
            <div class="form-input">
                <input type="text" class="form-control" id="username" placeholder="Username" formControlName="username">
                <label for="username">Username</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-input">
                <input type="text" class="form-control" id="password" placeholder="Password" type="password" formControlName="password">
                <label for="password">Password</label>
            </div>
        </div>
        <div>
            <button class="btn btn-primary roundBtn" type="submit">Primary button</button>
        </div>
    </div>
</form>