<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div   class="background">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img width="300" alt="Angular Logo" src="../favicon.ico">
  </div>

  <div class="row card-wrapper">
    <div class="col-lg-4 col-md-6 col-sm-12 margin-auto">
        <div class="card-container">
        <a href="/controlcheck/id">
            <div class="card card-medium bg-pink-50 ">
                <h3>place the controlcheck in here</h3>
                <div class="row card-content">
                Date and time pickers provide the ability to select a single or a range ofdates and times.
                </div>
            </div>
        </a>

    </div>
  </div>


<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<router-outlet></router-outlet>

