<div id="detail-page" class="col-sm-10 col-md-10 col-lg-9 elevated-card" >

    <div class="controls">
        <button routerLink=".." (click)="deleteCheck()" class="btn btn-primary roundBtn button-right delete-button">Disable</button>
      </div>

  <div class="card-title">
    <h3>{{ controlCheck.name   }}</h3>
  <br/>
    <div class="card-content">
      <h4>{{ controlCheck.description }}</h4>
    </div>


    <div style="display:flex;justify-content:center;align-items:center;">     
      <fusioncharts 
      class="centered"
      [chartConfig]=chartConfig
      [dataSource]=dataSource >
      </fusioncharts>
    </div>


  </div>
</div>

<app-control-check-alerts></app-control-check-alerts>