@import '../../../assets/variables';

.delete-button{
    background-color: $button-delete-background-color;
    color: $button-delete-color;
}

.centered{
    display:flex;justify-content:center;align-items:center;
}

