/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap.scss';


// -------------------{ Variables }-------------------
// here
// -------------------{ Variables }-------------------
body {
    margin-top: 95px;
}

.background {
    background-color: #f3f3f3;
}

.elevated-card {
    margin: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 20px;
    text-indent: 3%;
    height:auto;
    background-color: white !important; 
}

.card-body{
    min-width: 220px;
    margin-bottom: 40px;
}

.card-button {
    position: absolute;
    top: 85%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-bottom: 10px;
}

.comment-field {
    width: 90% !important;
}

.button-right {    
    float:right;
    clear:both;
    margin: 10px;
}

.margin-bottom-15px {
    margin-bottom: 15px !important;
}

.roundBtn {
    visibility: visible;
    height: auto;
    border-radius: 20px;
    color: #26446d
}

.elevated-button {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #C2D5F8;
}
// -------------------{  Mixins   }-------------------
// here
// -------------------{  Mixins   }-------------------