// body background
$background-collor:  #f3f3f3;

// button variables
$button-collor: #1657EA;
$button-background-color: #C2D5F8;

// input fields
$error-border-color: #F03A47;
$error-text-color: #F03A47;

// other
$border: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);