<div class="elevated-card">
    <form [formGroup]="controlCheckForm" (ngSubmit)="onSubmit()" class="controlcheckform">
        <div class="form-group">
            <div class="form-row">
                <div class="form-input">
                    <input type="text" class="form-control" id="controlcheck-title" placeholder="Title" formControlName="title">
                    <label for="controlcheck-title">Title:</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-input">
                    <input type="text" class="form-control" id="controlcheck-description" placeholder="Description"
                        formControlName="description">
                    <label for="controlcheck-description">Description:</label>
                </div>
            </div>
            <div class="form-row">
                <div formArrayName="variables">
                    <label>Condition: </label>
                    <div class="grid-container" *ngFor="let variable of variables.controls; let i=index">
                        <div class="grid-item">
                            <label>if</label>
                            <div class="form-input">
                                <select class="form-control" id="columnSelect" data-component="cm-select" (change)="setColumnValue($event.target.value, variable)">
                                    <option value="">Select value</option>
                                    <option value="seller">Seller</option>
                                    <option value="buyer">Buyer</option>
                                    <option value="amount">Amount</option>
                                    <option value="date">Date</option>
                                    <option value="product-type">Product type code</option>
                                    <option value="country">Country</option>
                                </select>
                                <span class="cm-icon cm-icon-open-vertical" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="grid-item">
                            <label>is</label>
                            <div class="form-input">
                                <select class="form-control" data-component="cm-select" (change)="setComparator($event.target.value, variable)">
                                    <option value="">Select value</option>
                                    <option value="$gt:">Greater than </option>
                                    <option value="$lt:">Lesser than </option>
                                    <option value=":">Equal to </option>
                                    <option value="$gt:=">Greater than or equal to</option>
                                    <option value="$lt:=">Lesser than or equal to</option>
                                </select>
                                <span class="cm-icon cm-icon-open-vertical" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="grid-item">
                            <div class="form-input">
                                <input (keyup)="setInputField($event.target.value, variable)" type="text" class="form-control" placeholder="Value">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog-footer">
                <button class="btn btn-secondary" type="button" routerLink='..'>Cancel</button>
                <button class="btn btn-primary roundBtn" type="submit">save</button>
            </div>
        </div>
    </form>
</div>