<!-- insert validation when done--> 
<div id="detail-page" class="col-sm-10 col-md-10 col-lg-9 elevated-card" 
>
  <br/>
    
    <form class="form-group" formGroup="ControlCheckFormComponent">
        <h4>Title: </h4>
            <div class="form-row margin-left-input">
                <div class="form-input">
                    <input  formControlName="title" 
                            type="text" 
                            class="form-control"  
                            placeholder="title">
                    </div>
                </div>                            
            <br/>
        

        <h4>Description: </h4>
            <div class="form-row margin-left-input">
                <div class="form-input comment-field">
                    <textarea  
                    formControlName="description" 
                        type="text" 
                        class="form-control"  
                        placeholder="description">
                    </textarea>
                    </div>
                </div>                            
            <br/>
        

            <div formArray="variables">
                <h4>Condition: </h4>  
                <div *ngFor="let variable of variables.controls; let i=index">
                    <!-- The repeated alias template -->
                    

                    <div class="form-row floatleft">
                        <h4 class="margin-left" style="margin-top: 25px; margin-right: 15px">if</h4>
                            <div class="form-input" >
                                <select class="form-control "
                                        data-component="cm-select"
                                        onchange="selectchanged(event)"
                                        formControlName="collumn"
                                        placeholder="select a value">
                                    <option value="seller">Seller</option>
                                    <option value="buyer">Buyer</option>
                                    <option value="amount">Amount</option>
                                    <option value="date">Date</option>
                                    <option value="product-type">Product type code</option>
                                    <option value="country">Country</option>
                                </select>
                                <span class="cm-icon cm-icon-open-vertical" aria-hidden="true"></span>
                                <label>Pick a Value:</label>
                            </div>
                            
                        </div>  
                
                        <div class="form-row floatleft" >
                                <h4 class="" style="margin-top: 25px; margin-right: 15px; margin-left: 15px">is</h4>
                            <div class="form-input">
                                <select class="form-control "
                                        data-component="cm-select"
                                        onchange="selectchanged(event)"
                                        formControlName="comparator"
                                        placeholder="select a value">
                                    <option value="greater">Greater than </option>
                                    <option value="lesser">Lesser than </option>
                                    <option value="equal">Equal to </option>
                                    <option value="greaterEqual">Greater than or equal to</option>
                                    <option value="lesserEqual">Lesser than or equal to</option>
                                </select>
                                <span class="cm-icon cm-icon-open-vertical" aria-hidden="true"></span>
                                <label>In comparison to :</label>
                            </div>
                        </div>

                        <div class="form-row margin-left-input floatleft" >
                                <div class="form-input">
                                    <input  formControlName="value" 
                                            type="text" 
                                            class="form-control" 
                                            placeholder="Value">
                                    <label for="exampleFormControlInput3">Value:</label>
                                </div>
                            </div> 
                    <br/><br/>  
                </div>

                <!-- <div formArray="ORs">
                <div *ngFor="let ORStatement of ORStatement.controls; let j =index">

                        <div class="form-row floatleft">
                                <h4 class="margin-left" style="margin-top: 25px; margin-right: 15px">if</h4>
                                    <div class="form-input" >
                                        <select class="form-control "
                                                data-component="cm-select"
                                                onchange="selectchanged(event)"
                                                formControlName="data_vaulues"
                                                placeholder="select a value">
                                            <option value="seller">Seller</option>
                                            <option value="buyer">Buyer</option>
                                            <option value="amount">Amount</option>
                                            <option value="date">Date</option>
                                            <option value="product-type">Product type code</option>
                                            <option value="country">Country</option>
                                        </select>
                                        <span class="cm-icon cm-icon-open-vertical" aria-hidden="true"></span>
                                        <label>Pick a Value:</label>
                                    </div>
                                  
                                </div>  
                        
                                <div class="form-row floatleft" >
                                        <h4 class="" style="margin-top: 25px; margin-right: 15px; margin-left: 15px">is</h4>
                                    <div class="form-input">
                                        <select class="form-control "
                                                data-component="cm-select"
                                                onchange="selectchanged(event)"
                                                formControlName="other_vaulues"
                                                placeholder="select a value">
                                            <option value="greater">Greater than (&gt;)</option>
                                            <option value="lesser">Lesser than (&lt;)</option>
                                            <option value="equal">Equal to (&#61;)</option>
                                        </select>
                                        <span class="cm-icon cm-icon-open-vertical" aria-hidden="true"></span>
                                        <label>In comparison to :</label>
                                    </div>
                                </div>
        
                                <div class="form-row margin-left-input floatleft" >
                                        <div class="form-input">
                                            <input  formControlName="value" 
                                                    type="text" 
                                                    class="form-control" 
                                                    placeholder="Value">
                                            <label for="exampleFormControlInput3">Value:</label>
                                        </div>
                                    </div> 
                            <br/><br/> 
                                
                </div> 
                <button class="roundBtn btn btn-primary margin-bottom-15px" (click)="addOR()">Add row</button>  -->
            <!-- </div>   -->
                
        
                </div>
        
            </form>
        
            <button class="roundBtn btn btn-primary margin-bottom-15px" (click)="addVariable()">Add condition</button>
            <div class="dialog-footer">
                <button class="btn btn-secondary" type="button" routerLink='..'>Cancel</button>
                <button class="btn btn-primary roundBtn" type="submit" (click)='save()'>save</button>
            </div>
    <br/>
</div>