<div class="elevated-card">
    <form [formGroup]="controlCheckForm" (ngSubmit)="onSubmit()" class="controlcheckform">
        <div class="form-group">
            <div class="form-row">
                <div class="form-input">
                    <input 
                        type="text"
                        class="form-control"
                        id="controlcheck-title"
                        placeholder="Title"
                        formControlName="title"
                        [ngClass]="!controlCheckForm.controls.title.untouched && controlCheckForm.controls.title.hasError('required') ? 'field-error' : ''"
                        required>
                    <label for="controlcheck-title">Title:</label>
                </div>
                <div class="error-message" *ngIf="!controlCheckForm.controls.title.untouched && controlCheckForm.controls.title.hasError('required')">
                    Title is required.
                </div>
            </div>
            <div class="form-row">
                <div class="form-input">
                    <input
                        type="text"
                        class="form-control"
                        id="controlcheck-description"
                        placeholder="Description"
                        [ngClass]="!controlCheckForm.controls.description.untouched && controlCheckForm.controls.description.hasError('required') ? 'field-error' : ''"
                        formControlName="description" required>
                    <label for="controlcheck-description">Description:</label>
                </div>
                <div class="error-message" *ngIf="!controlCheckForm.controls.description.untouched && controlCheckForm.controls.description.hasError('required')">
                    Description is required.
                </div>
            </div>
            <div class="form-row">
                <div formArrayName="variables" class="width-100">
                    <label>Condition: </label>
                    <div class="grid-container" *ngFor="let variable of variables.controls; let i=index">
                        <div class="grid-item">
                            <label>if</label>
                            <div class="form-input">
                                <select class="form-control" id="columnSelect" data-component="cm-select" (change)="setColumnValue($event.target.value, variable)">
                                    <option value="">Select value</option>
                                    <option value="Merchants.Name">Seller</option>
                                    <option value="Orders.BuyerName">Buyer</option>
                                    <option value="Payments.MerchantAmount">Amount</option>
                                    <option value="Payments.PaymentCreatedOn">Date</option>
                                    <option value="Merchants.MerchantCatergoryCode">Product type code</option>
                                    <option value="Orders.BuyerBillingCountry">Country</option>
                                </select>
                                <span class="cm-icon cm-icon-open-vertical" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="grid-item">
                            <label>is</label>
                            <div class="form-input">
                                <select class="form-control" data-component="cm-select" (change)="setComparator($event.target.value, variable)">
                                    <option value="">Select value</option>
                                    <option value="{ &quot;$gt&quot;: @value }">Greater than </option>
                                    <option value="{ &quot;$lt&quot;: @value }">Lesser than </option>
                                    <option value="{ &quot;$eq&quot;: @value }">Equal to </option>
                                    <option value="{ &quot;$gte&quot;: @value }">Greater than or equal to</option>
                                    <option value="{ &quot;$lte&quot;: @value }">Lesser than or equal to</option>
                                </select>
                                <span class="cm-icon cm-icon-open-vertical" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="form-input">
                                <input (keyup)="setInputField($event.target.value, variable)" type="text" class="form-control"
                                    placeholder="Value">
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-primary roundBtn" type="button" (click)="addOR(i)">Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog-footer">
                <button type="button" class="btn btn-primary roundBtn left" (click)="addVariable()">Add Condition</button>
                <button class="btn btn-secondary" type="button" routerLink='..'>Cancel</button>
                <button class="btn btn-primary roundBtn" type="submit" [disabled]="!controlCheckForm.valid">save</button>
            </div>
        </div>
    </form>
</div>