<div class="flow-root">

  <button class="btn no-margin btn-primary button-right roundBtn elevated-button" routerLink="/control-checks/add">
    <span class="cm-icon cm-icon-add" aria-hidden="true"></span>add
  </button>

</div>

<div class="grid-container">
  <div class="grid-item" *ngFor="let controlCheck of controlChecks">
    <div class="card-wrapper">
      <div class="card-container">
        <a>
          <div class="card card-medium bg-pink-50 ">
            <h3>{{ controlCheck.title }}</h3>
            <div class="card-content">
              {{ controlCheck.description }}
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>